body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Aldrich", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.title {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 30px;
}

.title > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title > h1 {
  position: relative;
  z-index: 1;
  font-size: 60px;
  color: white;
}

.hanalogo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  width: 300px;
}

.instructions {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions-text {
  background-image: url("./assets/common/InstructionBackground.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.submit {
  margin-top: 50px;
}

.submit > button {
  background-color: transparent;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border: none;
  background-image: url("./assets/common/SimpleButtonBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.submit > button:hover {
  background-image: url("./assets/common/SimpleButtonBackgroundHover.png");
}