#root {
    background-image: url('./assets/mainmenu/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mm-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    padding: 20px;
    margin: 30px;
}

.mm-buttons > a {
    width: 338px;
    height: 65px;
    margin: 10px;
    cursor: pointer;
    background-image: url('./assets/mainmenu/ButtonBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.mm-buttons > a:hover {
    background-image: url('./assets/mainmenu/ButtonBackgroundHover.png');
}

.mm-buttons > a:active {
    background-image: url('./assets/mainmenu/ButtonBackgroundActive.png');
}