.r-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 30px;
}

.r-title {
  color: white;
}

.r-rank {
  width: 350px;
  background: rgb(240, 236, 10);
  background: linear-gradient(
    0deg,
    rgba(240, 236, 10, 1) 0%,
    rgba(240, 209, 1, 1) 100%
  );
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}


.r-ranks {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
