#root {
    background-image: url('./assets/vehicule/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.v-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0;
    left: 0;
}

.v-content {
    display: flex;
    align-items: center;
    height: 300px;
    flex-direction: row;
}

.v-content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
    margin-top: 30px;
}

.v-content-preview {
    background-color: #da5753;
    border: 5px solid black;
}

.v-content-preview > img {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

.v-content-info {
    background-image: url('./assets/vehicule/BackroundRepeat.png');
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.v-content-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px;
    padding: 0 20px;
    background-color: #da5753;
    color: white;
    font-size: 20px;
}

.v-content-info > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #da5753;
    color: white;
    font-size: 20px;
}

.v-content-control {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.v-content-control > button {
    width: 100%;
    height: 100%;
    background-color: #da5753;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.v-content-control > button:hover {
    background-color: #f7a9a7;
}

.v-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: url('./assets/common/GreyButtonBackground.png') !important;
}

.v-back:hover {
    background-image: url('./assets/common/GreyButtonBackgroundHover.png') !important;
}